<h1>What is IziSurvey?</h1>
<p>IziSurvey is a Survey Manager App that will alow people manage surveys easily and in real-time! </p> 
<h1> How it works? </h1>
<p> IziSurvey have 2 main components: first of all, a Mobile App who will permit organizations' users have easily access to surveys, where they can fullfill any kind of surveys assigned to their organization from their Android devices.</p>
<p>By the other hand, for administrators, these surveys answers can be shown in the Web App on real time. </p>
<p> We have prepared a view where the data can be translated into statistics charts who will be updated while people answering surveys, allowing administrators have immediate graphical results.</p>
<p> We don't see anything about the bussiness or answers, our only intention is to put the correct tools in your hands to manage your surveys. We did the hard work, you can enjoy the rest! :-P </P>

