<div class="panel-body">
    <div class="row" >
        <div class="col-lg-12" ng-if = "user.login && !Cargando  ">
        
            <form id="login-form"  role="form" style="display: block;" ng-submit="submit()"  >
                <div class="form-group">
                    <input type="text" name="username" ng-model="mail.mail" id="username" tabindex="1" class="form-control" placeholder="E-mail" value="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" ng-model="mail.passwd" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                </div>
           
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Entrar">
                        </div>
                    </div>
                </div>
          
            </form>
       
        </div>

        <div class="col-lg-12" ng-if = "!user.login">
        
        <h2>

        Hola {{user.name}} {{user.lastName}}
        </h2>

        <p>

 
        Rol: {{user.rol}}

        </p>
           <p>


      Organizacion :   {{ organizaciones()}}
        
        </p>


        </div>

         <div class="col-lg-12" ng-show = "Cargando">


         Cargando ...
         </div>
    </div>
</div>