<!DOCTYPE html>
<html lang="en" ng-app="surveyDevApp">
 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>Ez-SurveyApp - Proyectos TICS III</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
 
    <!--link href="justified-nav.css" rel="stylesheet"-->
 
</head>
 
<body>
 
    <div class="container" ng-controller="LoginCtrl">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>Ez-SurveyApp - Proyectos TICS III</h2>
        </div>
        <form class="form-signin" name="firebase-login" ng-controller="LoginCtrl" ng-submit="submitForm(mail.email,pass.password)">
            <br>E-mail: <br/><input type="text" name="email" ng-model="mail.email"> 
            <br>Password: <br/><input type="password" name="password" ng-model="pass.password">
        <br>
            <input type="submit" ngClick="Log In">
        </br>
        <label class="checkbox">
        Not registered? <a href="#!/register"> Sign Up</a>
        </label>
        </form>
    
    </div>
 
   
 