<h2>Usuarios Izi Survey</h2>

  <div class=text-right>
     <a class="btn-info btn" ng-href="#!/add_organizaciones" >Agregar Organizaciones</a>
</div>

  <div class=text-left>
     <p>Organizaciones </p> 
</div>
  


  <table class="table table-striped">
    <thead>
      <tr>
      <th>Nombre</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        
        <th>Responsables</th>
        <th>Usuarios</th>
        <th>Surveys</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat ="organizacion in db_organizaciones"> 
        <td>{{organizacion.name}}</td>
        <td>{{organizacion.category}}</td>
        <td>{{organizacion.description}}</td>
        <td>{{count(organizacion.responsables)}}</td>
        <td>{{count(organizacion.users)}}</td>
        <td>{{count(organizacion.surveys)}}</td>
        <td><a ng-href="#!/edit_organizaciones/{{organizacion.$id}}" >Editar</a></td>
      </tr>
      
    </tbody>
  </table>